@media screen and (max-width:991px){
    .nav-list{
        background-color: #333;
        position: absolute;
        top: 100%;
        width: 90%;
        left: 3%;
        padding: 28px 18px;
        opacity: 0;
        visibility: hidden;
    }
  .list {
    display: block;
  }
  .list-item:nth-child(4)::after {
    display: none;
  }
  .nav-link {
    color: #fff;
  }
  .list-item{
    margin-right: 0;
    margin-bottom: 20px;
  }
  .dropdown {
    display: none;
  }
  label{
    display: block;
    order: 1;
  }
  .nav-icon a,label {
    font-size: 20px;
  }
  .nav-icon {
    width: 7%;
  }
  #inpCheck:checked +.nav-list{
    opacity: 1;
    visibility: visible;
    transition: opacity .6s;
  }
  /* header */
  .header-content h1{
    font-size: 58px;
  }
  .header-img img {
    width: 100%;
  }
  /* arrivals */
  .arrivals .row{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .product{
    width: 47%;
  }
  
/* gallery */
.gallery-row{
  flex-wrap: wrap;
}
.img-single{
  width: 45%;
}
   .img-single:nth-child(3){
    width: 100%;
    height: 330px;
   }
   .img-single:nth-child(3) .gallery-col{
    flex-direction: row;
   }
   /* popular */
   .single-popular{
    width: 45%;
   }
}

@media screen and (max-width:575px){
  /* navbar */
.logo { 
    width: 25%;
}
.logo img{
    width: 100%;
}
/* header */
.header-img{
  display: none;
}
.header-content h1{
  font-size: 48px;
}
.header-content {
  width: 100%;
  padding: 10% 0;
}
/* arrivals */
.arrivals .row {
  flex-wrap: wrap;
}
.title {
  font-size: 35px;
}
.product {
  width: 100%;
}
/* gallery  */
.gallery-row{
  flex-direction: column;
}
.img-single,.img-single:nth-child(1){
  width: 100%;
}
/* popular */
.single-popular{
  width: 100%;
}
.popular .row{
  flex-direction: column;
}
}

